# 데이터 불러오기

In [36]:
file_path = r"C:\Users\james\Documents\GitHub\Traffic_Volume_Prediction"

In [37]:
# 데이터 불러오기
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

total = pd.read_csv(file_path + r"\Data\refined_data.csv")
total

,일자,Hour,1005004000_velocity,1050003300_velocity,1050020400_velocity,1070000200_velocity,1070000500_velocity,1070001600_velocity,D-08 유입_traffic,D-08 유출_traffic,F-03 유입_traffic,F-04 유출_traffic,기온(°C),강수량(mm),풍속(m/s),습도(%),적설(cm)
0,20220419,1,39.82,73.83,18.79,76.42,66.08,90.92,550.0,712.0,1079.0,969.0,11.4,NaN,1.4,63.0,NaN
1,20220419,2,42.19,76.08,14.66,75.08,68.00,92.50,380.0,625.0,829.0,828.0,11.0,NaN,1.3,68.0,NaN
2,20220419,3,43.04,75.50,16.46,74.25,66.50,92.08,410.0,495.0,689.0,709.0,10.4,NaN,1.7,69.0,NaN
3,20220419,4,34.34,74.42,18.91,76.67,67.42,89.83,624.0,709.0,1020.0,1011.0,10.1,NaN,1.0,72.0,NaN
4,20220419,5,35.92,75.83,20.45,76.17,66.83,90.50,1275.0,1222.0,2463.0,2526.0,9.7,NaN,1.1,74.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20758,20240831,20,29.76,73.92,21.85,54.08,64.50,50.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20759,20240831,21,28.94,74.42,21.24,65.00,63.67,60.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20760,20240831,22,29.84,76.17,22.67,56.75,63.00,44.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20761,20240831,23,29.66,75.92,23.95,64.50,63.92,54.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20762,20240831,24,32.22,81.75,20.83,68.83,64.92,69.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## train, test 분리

In [38]:
total['Year'] = total['일자'].astype(str).str[:4].astype(int)
total['Month'] = total['일자'].astype(str).str[4:6].astype(int)
total['Day'] = total['일자'].astype(str).str[6:8].astype(int)

print(total[['일자', 'Year', 'Month', 'Day']].head())

         일자  Year  Month  Day
0  20220419  2022      4   19
1  20220419  2022      4   19
2  20220419  2022      4   19
3  20220419  2022      4   19
4  20220419  2022      4   19

In [39]:
total = total[~(((total['Year'] == 2024) & (total['Month'] == 8)) | ((total['Year'] == 2024) & (total['Month'] == 7)  & (total['Day'] == 31)))]
total.tail()

,일자,Hour,1005004000_velocity,1050003300_velocity,1050020400_velocity,1070000200_velocity,1070000500_velocity,1070001600_velocity,D-08 유입_traffic,D-08 유출_traffic,F-03 유입_traffic,F-04 유출_traffic,기온(°C),강수량(mm),풍속(m/s),습도(%),적설(cm),Year,Month,Day
20000,20240730,20,22.97,7.25,20.47,18.42,41.92,44.75,NaN,NaN,3504.0,2867.0,29.2,NaN,2.4,78.0,NaN,2024,7,30
20001,20240730,21,25.02,58.92,23.60,37.42,62.50,44.92,NaN,NaN,3535.0,2821.0,28.6,NaN,2.6,81.0,NaN,2024,7,30
20002,20240730,22,30.20,76.67,21.85,55.67,63.50,49.58,NaN,NaN,3281.0,2797.0,28.2,NaN,2.4,82.0,NaN,2024,7,30
20003,20240730,23,30.19,75.42,19.79,60.17,65.00,56.08,NaN,NaN,2498.0,2238.0,27.9,NaN,2.1,84.0,NaN,2024,7,30
20004,20240730,24,31.66,83.17,22.12,68.25,63.83,70.17,NaN,NaN,1436.0,1432.0,26.8,NaN,3.2,85.0,NaN,2024,7,30

In [40]:
total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20005 entries, 0 to 20004
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   일자                   20005 non-null  int64
 1   Hour                 20005 non-null  int64
 2   1005004000_velocity  20005 non-null  float64
 3   1050003300_velocity  19970 non-null  float64
 4   1050020400_velocity  20005 non-null  float64
 5   1070000200_velocity  19972 non-null  float64
 6   1070000500_velocity  19972 non-null  float64
 7   1070001600_velocity  19959 non-null  float64
 8   D-08 유입_traffic      13012 non-null  float64
 9   D-08 유출_traffic      13018 non-null  float64
 10  F-03 유입_traffic      19292 non-null  float64
 11  F-04 유출_traffic      19304 non-null  float64
 12  기온(°C)               20005 non-null  float64
 13  강수량(mm)              2538 non-null   float64
 14  풍속(m/s)              19937 non-null  float64
 15  습도(%)                20005 non-null  float64
 16  적설(cm)               848 non-null    float64
 17  Year                 20005 non-null  int32
 18  Month                20005 non-null  int32
 19  Day                  20005 non-null  int32
dtypes: float64(15), int32(3), int64(2)
memory usage: 3.0 MB

In [41]:
total.isnull().sum()

일자                         0
Hour                       0
1005004000_velocity        0
1050003300_velocity       35
1050020400_velocity        0
1070000200_velocity       33
1070000500_velocity       33
1070001600_velocity       46
D-08 유입_traffic         6993
D-08 유출_traffic         6987
F-03 유입_traffic          713
F-04 유출_traffic          701
기온(°C)                     0
강수량(mm)                17467
풍속(m/s)                   68
습도(%)                      0
적설(cm)                 19157
Year                       0
Month                      0
Day                        0
dtype: int64

In [42]:
train = total[~((total['Year'] == 2024) & (total['Month'] == 7))]
test = total[((total['Year'] == 2024) & (total['Month'] == 7))]
print(train.shape, test.shape)

(19285, 20) (720, 20)

# Feature Engineering

## 파생변수 추가

In [43]:
import holidays
import numpy as np

dfs = [train, test]

for df in dfs:
    df['일자'] = pd.to_datetime(df['일자'], format='%Y%m%d')

    # 1. 주말 여부 추가
    df['is_weekend'] = df['일자'].dt.dayofweek >= 5  # 토요일(5) 또는 일요일(6)일 경우 True

    # 2. 공휴일 여부 추가 (한국 공휴일 기준)
    kr_holidays = holidays.KR(years=df['Year'].unique())  # 한국 공휴일
    df['is_holiday'] = df['일자'].isin(kr_holidays)

    # 3. 출퇴근 시간 7~9, 17~19
    df['is_morning_rush'] = df['Hour'].between(7, 9)
    df['is_evening_rush'] = df['Hour'].between(17, 19)

    # 4. 주기성 인식(Day는 drop)
    # 4.1. 월 주기성 추가 (1월~12월)
    df['month_sin'] = np.sin(2 * np.pi * df['Month'] / 12)
    df['month_cos'] = np.cos(2 * np.pi * df['Month'] / 12)

    # 4.2. 시간 주기성 추가 (0시~23시)
    df['hour_sin'] = np.sin(2 * np.pi * df['Hour'] / 24)
    df['hour_cos'] = np.cos(2 * np.pi * df['Hour'] / 24)

    print(df.shape)

(19285, 28)
(720, 28)

## encoding

In [44]:
one_hot_columns = [
  #  "season"
]

if one_hot_columns:
    combined = pd.concat([train, test], keys=['train', 'test']).reset_index(level=0).rename(columns={'level_0': 'source'})

    one_hot_columns = ["season"]
    for column in one_hot_columns:
        combined = pd.get_dummies(combined, columns=[column], prefix=f'{column}')

    train = combined[combined['source'] == 'train'].drop(columns=['source'])
    test = combined[combined['source'] == 'test'].drop(columns=['source'])

In [45]:
train.columns

Index(['일자', 'Hour', '1005004000_velocity', '1050003300_velocity',
       '1050020400_velocity', '1070000200_velocity', '1070000500_velocity',
       '1070001600_velocity', 'D-08 유입_traffic', 'D-08 유출_traffic',
       'F-03 유입_traffic', 'F-04 유출_traffic', '기온(°C)', '강수량(mm)', '풍속(m/s)',
       '습도(%)', '적설(cm)', 'Year', 'Month', 'Day', 'is_weekend', 'is_holiday',
       'is_morning_rush', 'is_evening_rush', 'month_sin', 'month_cos',
       'hour_sin', 'hour_cos'],
      dtype='object')

## column drop

In [46]:
drop_columns=[
    '일자',
    'Month',
    'Day',
    'Hour',
    'D-08 유입_traffic',
    'D-08 유출_traffic'
]

train = train.copy()
test = test.copy()

for column in drop_columns:
    if column in train.columns:
        train.drop(columns=column, inplace=True)
        test.drop(columns=column, inplace=True)
        print(f"(column명: {column})를 drop했습니다.")

(column명: 일자)를 drop했습니다.
(column명: Month)를 drop했습니다.
(column명: Day)를 drop했습니다.
(column명: Hour)를 drop했습니다.
(column명: D-08 유입_traffic)를 drop했습니다.
(column명: D-08 유출_traffic)를 drop했습니다.

In [47]:
# 데이터프레임을 CSV 파일로 저장
file_name = r"\Data\train.csv"
train.to_csv(file_path+file_name, index=False)

file_name = r"\Data\test.csv"
test.to_csv(file_path+file_name, index=False)